@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .kButton {
    @apply bg-blue-100 text-black rounded-full px-5 py-1.5 font-bold hover:bg-blue-200 shadow-2xl hover:shadow-blue-100 select-none;
  }

  .kTextfield {
    @apply text-lg font-normal border-b-2 border-gray-500 appearance-none bg-transparent px-5 py-3 focus:border-b-2 focus:border-gray-200 w-full enabled:hover:border-blue-400 focus:outline-none;
  }

  .kTextButton {
    @apply hover:underline hover:underline-offset-4 select-none;
  }

  .kNavmenuBtn {
    @apply w-[120px] hover:bg-blue-100 hover:text-black hover:font-bold text-white p-2;
  }

  .invisibleOnPhone {
    @apply hidden md:block;
  }
}


:root {
  --bg: black;
  --text: whitesmoke;
  --btn: #3673fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}


::-webkit-scrollbar {
  background-color: black;
  color: #3673fd;
  border: 10px;
}

::-webkit-scrollbar-button {
  color: aqua;
  background-color: black;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 6px;
  border-color: black;
  border: 5px solid;
  border-color: black;
}