@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .kButton {
    @apply bg-blue-100 text-black rounded-full px-5 py-1.5 font-bold hover:bg-blue-200 shadow-2xl hover:shadow-blue-100 select-none;
  }

  .kTextfield {
    @apply text-[15px] font-normal border-b-2 border-gray-500 appearance-none bg-transparent px-2 py-3 focus:border-b-2 focus:border-gray-200 w-full focus:outline-none last:mb-0 mb-5 placeholder:text-sm;
  }

  .kTextButton {
    @apply hover:underline hover:underline-offset-4 select-none;
  }

  .kNavmenuBtn {
    @apply w-[120px] hover:bg-blue-100 hover:text-black hover:font-bold text-white p-2;
  }

  .invisibleOnPhone {
    @apply hidden md:block;
  }


  .kSocialButton {
    @apply border-2 hover:border-gray-400 border-black rounded-lg p-2 flex gap-2 items-center
  }

  /* .theme {
    @apply transition-all duration-1000 ease-in-out;
  } */

  .light {
    @apply bg-white text-black;
  }

  .dark {
    @apply bg-black text-white;
  }
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #253341;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}


/* :root {
  --bg: black;
  --text: whitesmoke;
  --btn: #3673fd;
} */

.theme {
  transition: 1s all ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}


::-webkit-scrollbar {
  background-color: black;
  color: #3673fd;
  border: 10px;
}

::-webkit-scrollbar-button {
  color: aqua;
  background-color: black;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 6px;
  border-color: black;
  border: 5px solid;
  border-color: black;
}